//----------------------BOJE--------------------------//

$tamna: #161938;
$textTamno: #2f2a32;
$plavaGlavna: #2f476f;
$zutaGlavna: #fdc028;
$zelenaGlavna: #a4cd46;
$zelenaTamna: #7fa723;
$svijetloSiva: #eeeeee;
$contactFormInputBg: #f2f2f2;
$skrozTamnaZelena: #233005;

//--------------------FONTOVI-------------------------//
$headingPolicy: 66px;
$heading1: 55px;
$heading2: 36px;
$heading3: 30px;
$heading4: 18px;
$heading5: 16px;
$mobileHeading1: 36px;
$mobileHeading2: 26px;
$mobileHeading3: 20px;
$mobileHeading4: 18px;
$buttonFontSize: 21px;
$buttonFontSizeMobile: 16px;
$baseFontSize: 1rem;
$mobileFontSizeAlt: 14px;
$mobileFontSizeSmall: 12px;
$mobileFontSizeContentAlt: 12px;
$defaultProred: 148%;
$sekundarniProred: 110%;
$browserProred: normal;

//-------------------BREAKPOINTS--------------------//
$phones: 768px;
$tablets: 1024px;
$desktops: 1300px;
$largeDesktops: 1700px;
$smPhones: 450px;
$xsmPhones: 380px;

// -------------------CONTAINERS-------------------//
$masterContainerWidth: 1480px;
$maxContainerWidth: 1920px;
