//----------------------BOJE--------------------------//

$tamna: #161938;
$plavaGlavna: #2f476f;
$zutaGlavna: #fdc028;
$zelenaGlavna: #a4cd46;
$svijetloSiva: #eeeeee;

//--------------------FONTOVI-------------------------//
$heading1: 55px;
$heading2: 36px;
$heading3: 30px;
$heading4: 21px;
$heading5: 16px;
$baseFontSize: 1em;
$defaultProred: 120%;
$sekundarniProred: 110%;
$browserProred: normal;

//-------------------BREAKPOINTS--------------------//
$phones: 768px;
$tablets: 1024px;
$desktops: 1300px;
$smPhones: 480px;

// -------------------CONTAINERS-------------------//
$masterContainerWidth: 1480px;
$maxContainerWidth: 1920px;
