.aktivnostPrva {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  // margin-bottom: 100px;

  .aktivnostHero {
    height: 75dvh;
    min-height: 634px;
    position: relative;

    .heroHeader {
      z-index: 6;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      place-items: center;
      position: absolute;
      gap: 0.85rem;

      bottom: 216px;
      left: 50%;
      transform: translateX(-50%);

      h1 {
        // font-size: $heading1;
        font-size: 110px;

        @media only screen and (max-width: $tablets) {
          font-size: $heading1;
        }

        @media only screen and (max-width: $phones) {
          font-size: 44px;
        }
        text-transform: uppercase;
        color: #fff;
        line-height: $defaultProred;
        text-align: center;
        width: 100%;
        white-space: nowrap;
      }
    }
  }

  .masterContainer {
    max-width: $masterContainerWidth;
    margin: 4rem auto 0 auto;
  }

  .contentContainer {
    display: flex;
    place-items: flex-start;

    width: 100%;
    position: relative;
    gap: 4rem;

    @media only screen and (max-width: $largeDesktops) {
      flex-wrap: wrap-reverse;
      place-items: center;
    }
  }

  .swiperSticky {
    max-width: 693px;
    width: 100%;

    @media only screen and (max-width: $largeDesktops) {
      position: static !important;
      max-width: 100%;
    }

    .swiperTop {
      width: 100%;

      height: 100%;

      .swiperSlide {
        position: relative;
        height: 540px;
      }
    }

    .swiperSlide {
      height: 120px;
      position: relative;
    }
  }

  .activityArticle {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: stretch;
    gap: 2.8rem;

    @media only screen and (max-width: $largeDesktops) {
      // display: none;
      // padding: 0 1.25rem;
    }

    .articleTopContent {
      @media only screen and (max-width: $largeDesktops) {
        // display: none;
        padding: 0 1rem;
      }
      h6 {
        font-size: $baseFontSize;
        font-weight: 400;
        color: $tamna;
        line-height: $defaultProred;

        @media only screen and (max-width: $tablets) {
          display: none;
        }
      }

      h2 {
        font-size: $heading2;

        @media only screen and (max-width: $tablets) {
          font-size: $heading3;
        }

        @media only screen and (max-width: $phones) {
          font-size: $mobileHeading2;
        }
        font-weight: 700;
        line-height: $sekundarniProred;
        color: $tamna;
        max-width: 572px;
      }

      .articleContentTextContainer {
        margin-top: 2.3rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-items: start;
        gap: 1.2rem;

        p {
          color: $tamna;
          line-height: $defaultProred;
          font-size: $baseFontSize;
        }
      }

      .articleButtonStack {
        max-width: 443px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 1.1rem;
        place-items: center;
        margin-top: 1.25rem;

        @media only screen and (max-width: $tablets) {
          // display: none;
          flex-wrap: wrap;
          button {
            text-transform: uppercase;
          }
        }
      }
    }

    .articleDetails {
      display: grid;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      place-items: stretch;
      gap: 3.1rem;

      .articleBlock {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-items: stretch;
        outline: 1px solid rgba(146, 146, 146, 0.11);

        .articleBlockHeading {
          font-size: $heading4;
          color: #fff;
          line-height: $defaultProred;
          background: $zelenaGlavna;
          padding: 1.3rem 0 1.3rem 3.1rem;

          @media only screen and (max-width: $tablets) {
            // display: none;
            padding: 1.3rem 0 1.3rem 2.1rem;
          }

          @media only screen and (max-width: $phones) {
            // display: none;
            padding: 1.3rem 0 1.3rem 1.3rem;
          }
          font-weight: 500;
          text-transform: uppercase;
        }

        .articleInfo {
          padding: 1.3rem 0 1.3rem 4rem;

          @media only screen and (max-width: $tablets) {
            // display: none;
            padding: 1.3rem 0 1.3rem 3rem;
          }

          @media only screen and (max-width: $phones) {
            // display: none;
            padding: 1.3rem 0 1.3rem 2.1rem;
          }

          p {
            margin: 0.5rem 0;
          }

          li + li {
            margin-top: 0.5rem;
          }

          p {
            font-size: 1.1rem;
            line-height: 130%;
            color: $tamna;
            font-weight: 500;
          }

          li {
            font-size: 1.1rem;
            line-height: 130%;
            color: $tamna;
          }
        }
      }
    }
  }

  .mapboxContainer {
    min-height: 680px;
    margin: 10rem 0 0 0;
    position: relative;
  }
}
