.aktivnost {
  width: 100%;
  position: relative;
  // background: $zelenaGlavna;

  // overflow-x: hidden;
  // margin-bottom: 100px;

  .aktivnostHero {
    height: 55vh;
    height: 55dvh;

    // min-height: 634px;
    position: relative;

    .heroHeader {
      z-index: 6;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      place-items: center;
      position: absolute;
      gap: 0.85rem;

      bottom: 150px;

      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      h1 {
        font-size: $headingPolicy;

        @media only screen and (max-width: $desktops) {
          min-width: 95vw;
          font-size: $heading1;
          line-height: $browserProred;
        }

        text-transform: uppercase;
        color: #fff;
        line-height: $defaultProred;
        text-align: center;
        width: 100%;

        @media only screen and (max-width: $smPhones) {
          white-space: unset;
          font-size: 44px;
        }
      }
    }
  }

  .masterContainer {
    // max-width: $masterContainerWidth;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: grid;
    place-items: center;
    justify-content: center;
  }

  .contentContainer {
    display: flex;
    place-items: flex-start;

    width: 100%;
    position: relative;
    gap: 4rem;
    max-width: $masterContainerWidth;
    padding: 4rem 0 0 0;
    @media only screen and (max-width: $desktops) {
      flex-wrap: wrap-reverse;
      place-items: center;
    }
  }

  .swiperSticky {
    width: 100%;

    @media only screen and (min-width: $desktops) {
      max-width: 693px;
    }

    @media only screen and (max-width: $desktops) {
      position: static !important;
      // max-width: 95vw;
      overflow-x: hidden;
      margin: 0 auto;
    }

    .swiper {
      margin-top: 1rem;
    }

    .swiperTop {
      width: 100%;

      height: 100%;

      .swiperSlide {
        position: relative;
        height: 540px;
      }
    }

    .swiperSlide {
      height: 120px;
      position: relative;
    }
  }

  .activityArticle {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: stretch;
    gap: 2.8rem;

    @media only screen and (max-width: $desktops) {
      // display: none;
      // padding: 0 1.25rem;
    }

    .articleTopContent {
      @media only screen and (max-width: $desktops) {
        // display: none;
        padding: 0 1rem;
      }
      h6 {
        font-size: $baseFontSize;
        font-weight: 400;
        color: $tamna;
        line-height: $defaultProred;

        @media only screen and (max-width: $tablets) {
          display: none;
        }
      }

      h2 {
        font-size: $heading2;

        @media only screen and (max-width: $tablets) {
          font-size: $heading3;
        }

        @media only screen and (max-width: $phones) {
          font-size: $mobileHeading2;
        }
        font-weight: 700;
        line-height: $sekundarniProred;
        color: $tamna;
        max-width: 572px;
      }

      .articleContentTextContainer {
        margin-top: 2.3rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-items: start;
        gap: 1.2rem;

        p {
          color: $tamna;
          line-height: $defaultProred;
          font-size: $baseFontSize;
        }
      }

      .articleButtonStack {
        max-width: 443px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 1.1rem;
        place-items: center;
        margin-top: 1.25rem;

        @media only screen and (max-width: $tablets) {
          // display: none;
          flex-wrap: wrap;
          button {
            text-transform: uppercase;
          }
        }
      }
    }

    .articleDetails {
      display: grid;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      place-items: stretch;
      gap: 3.1rem;

      .articleBlock {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-items: stretch;
        outline: 1px solid rgba(146, 146, 146, 0.11);

        .articleBlockHeading {
          font-size: $heading4;
          color: #fff;
          line-height: $defaultProred;
          background: $zelenaGlavna;
          padding: 1.3rem 0 1.3rem 3.1rem;

          @media only screen and (max-width: $tablets) {
            // display: none;
            padding: 1.3rem 0 1.3rem 2.1rem;
          }

          @media only screen and (max-width: $phones) {
            // display: none;
            padding: 1.3rem 0 1.3rem 1.3rem;
          }
          font-weight: 500;
          text-transform: uppercase;
        }

        .articleInfo {
          padding: 1.3rem 0 1.3rem 4rem;
          display: grid;
          gap: 1.25rem;
          grid-template-columns: repeat(1, 1fr);
          place-items: start;

          @media only screen and (max-width: $tablets) {
            padding: 1.3rem 0 1.3rem 3rem;
          }

          @media only screen and (max-width: $phones) {
            padding: 1.3rem 0 1.3rem 2.1rem;
          }

          .boldSpan {
            font-weight: 500;
            margin-right: 0.25rem;
          }

          p {
            font-size: 1.1rem;
            line-height: 130%;
            color: $tamna;
            font-weight: 500;
            margin-left: -0.75rem;
          }

          ul {
            padding: 0 0 0 0.25rem;
          }

          li {
            font-size: 1.1rem;
            line-height: 130%;
            color: $tamna;
            margin: 0.25rem 0;
          }

          .articleInfoWithHeading {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 0.5rem;
          }
        }
      }
    }
  }

  .mapboxContainer {
    min-height: 680px;

    @media only screen and (max-width: $tablets) {
      min-height: 480px;
    }

    @media only screen and (max-width: $phones) {
      min-height: 380px;
    }

    margin: 10rem 0 0 0;
    position: relative;
    touch-action: none !important;
    user-select: none !important;
    pointer-events: none !important;
  }
}
