.appButton {
  border: 0;
  outline: 0;
  border-radius: 6px;
  padding: 0.9rem 1rem;
  cursor: pointer;
  background: $zelenaGlavna;
  transition: all 250ms ease-out;
  color: #fff;
  font-size: 1rem;
  line-height: $defaultProred;
  font-weight: 500;

  &:hover {
    background: #fff;
    outline: 1.5px solid $zelenaGlavna;
    color: $zelenaGlavna;
  }
}

.navButton {
  height: max-content;
  padding: 0.5em 0.75em;

  @media screen and (max-width: $tablets) {
    display: none;
  }
}

.heroButton {
  text-transform: uppercase;
}

.aboutButton {
  width: 231px;
  padding: 1em;
}

.secondaryButton {
  background: #fff;
  outline: 1.5px solid $zelenaGlavna;
  color: $zelenaGlavna;
  &:hover {
    background: #fff;
    outline: 1.5px solid $zelenaGlavna;
    color: $zelenaGlavna;
  }
}
