.appButton {
  border: 0;
  outline: 0;
  border-radius: 6px;
  padding: 0.9rem 1rem;
  cursor: pointer;
  background: $zelenaGlavna;
  transition: all 250ms ease-out;
  color: #fff;
  font-size: 1rem;
  line-height: $defaultProred;
  font-weight: 500;
  position: relative;
  display: block;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 60px;
    left: -5px;
    width: 0px;
    height: 0px;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 190px solid rgba(164, 205, 70, 0.25);
    z-index: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    // $zelenaGlavna: #a4cd46;
    // $zelenaTamna: #7fa723;
  }

  &::after {
    -webkit-transition-delay: 0.2s !important;
    transition-delay: 0.2s !important;

    content: '';
    position: absolute;
    top: 60px;
    left: -5px;
    width: 0px;
    height: 0px;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 190px solid rgba(127, 167, 35, 0.25);
    z-index: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transition-delay: 0s;
  }

  &:hover {
    &::before {
      opacity: 1;
      -webkit-transform: translate(0px, -190px);
      transform: translate(0px, -190px);
    }

    &::after {
      opacity: 1;
      -webkit-transform: translate(0px, -150px);
      transform: translate(0px, -150px);
    }
  }
}

.navButton {
  height: max-content;
  padding: 0.5em 0.75em;
  background: #fff;
  outline: 1.5px solid $zelenaGlavna;
  color: $zelenaGlavna;

  @media screen and (max-width: $tablets) {
    display: none;
  }
}

.heroButton {
  text-transform: uppercase;
}

.aboutButton {
  width: 231px;
  padding: 1em;
}

.secondaryButton {
  background: #fff;
  outline: 1.5px solid $zelenaGlavna;
  color: $zelenaGlavna;
}

.SMN_effect-54 a {
  color: rgba(255, 255, 255, 1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
  /*custom*/
  padding: 15px 60px;
}

.SMN_effect-54 a:before {
  content: '';
  position: absolute;
  top: 60px;
  left: -5px;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 190px solid rgba(255, 255, 255, 0.25);
  z-index: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.SMN_effect-54 a:after {
  -webkit-transition-delay: 0.2s !important;
  transition-delay: 0.2s !important;
}

.SMN_effect-54 a:after {
  content: '';
  position: absolute;
  top: 60px;
  left: -5px;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 190px solid rgba(255, 255, 255, 0.25);
  z-index: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition-delay: 0s;
}

.SMN_effect-54 a:hover:before {
  opacity: 1;
  -webkit-transform: translate(0px, -190px);
  transform: translate(0px, -190px);
}

.SMN_effect-54 a:hover:after {
  opacity: 1;
  -webkit-transform: translate(0px, -150px);
  transform: translate(0px, -150px);
}
