.navMaster {
  width: 100%;
  display: flex;
  justify-content: space-between;
  place-items: center;
  padding: 0.5em 4.5em;

  @media screen and (max-width: $tablets) {
    padding: 1.5em 3em;
  }
  @media screen and (max-width: $phones) {
    padding: 1em 1.5em;
  }
}

.navPromoTrack {
  background: $zelenaGlavna;
  display: flex;
  place-items: center;
  justify-content: center;
  gap: 1em;
  font-weight: 400;
  color: #fff;
  font-size: $mobileFontSizeAlt;

  @media screen and (max-width: $phones) {
    font-size: 0.8em;

    &:first-child span {
      display: none;
    }
  }

  a {
    color: #fff;
    padding: 0.5em 0;
  }
}

.mobileButtonTemp {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.35em;

  div {
    width: 35px;
    height: 2px;
    display: block;
    background: $plavaGlavna;
  }
}

.navInnerParent {
  display: flex;
  justify-content: space-between;
  place-items: center;

  gap: 2em;

  @media screen and (max-width: $desktops) {
    span {
      display: none;
    }
  }

  @media screen and (min-width: $desktops) {
    .mobileButtonTemp {
      display: none;
    }
  }
}

.navLeftParent {
  display: flex;
  place-items: center;
  gap: 2.2rem;
  font-weight: 400;

  img {
    // display: none;
    @media only screen and (max-width: $largeDesktops) {
      width: 161px;
      height: auto;
      max-height: 60px;
      // height: 50px;
      object-fit: cover;
    }
  }

  a {
    color: $tamna;
    text-decoration: none;
    cursor: pointer;
    transition: all 250ms ease;
    position: relative;

    &:hover {
      color: $zelenaGlavna;
    }

    &::after {
      position: absolute;
      left: 0;
      bottom: -0.2em;
      background: $zelenaGlavna;
      height: 1.5px;
      content: '';
      width: 100%;
      transform: scale(0);
      transition: all 250ms ease;
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}

.navLeft {
  display: flex;
  place-items: center;
  gap: 2em;

  @media screen and (max-width: $desktops) {
    display: none;
  }
}

.navRight {
  display: flex;
  place-items: center;
  gap: 2em;
  font-weight: 400;

  a {
    color: $tamna;
    text-decoration: none;
    cursor: pointer;
    position: relative;

    transition: all 250ms ease;

    &:hover {
      color: $zelenaGlavna;
    }

    &::after {
      position: absolute;
      left: 0;
      bottom: -0.2em;
      background: $zelenaGlavna;
      height: 1.5px;
      content: '';
      width: 100%;
      transform: scale(0);
      transition: all 250ms ease;
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }

  @media screen and (max-width: $desktops) {
    display: none;
  }
}

// .SMN_effect-25 a {
//   letter-spacing: 0;
//   transition: 0.35s;
// }

// .SMN_effect-25 a:hover,
// .SMN_effect-25 a:active {
//   letter-spacing: 5px;
//   transition: 0.35s;
// }

// .SMN_effect-25 a:after {
//   bottom: -10px;
// }

// .SMN_effect-25 a:before {
//   top: -10px;
// }

// .SMN_effect-25 a:after,
// .SMN_effect-25 a:before {
//   -webkit-backface-visibility: hidden;
//   backface-visibility: hidden;
//   border: 1px solid rgba(255, 255, 255, 0);
//   content: ' ';
//   display: block;
//   margin: 0 auto;
//   position: relative;
//   transition: all 280ms ease-in-out;
//   width: 0;
// }

// .SMN_effect-25 a:hover:after,
// .SMN_effect-25 a:hover:before {
//   -webkit-backface-visibility: hidden;
//   backface-visibility: hidden;
//   border-color: #fff;
//   transition: width 350ms ease-in-out;
//   width: 100%;
// }

// .SMN_effect-25 a:hover:before {
//   width: 100%;
// }
