.dodatneInformacije {
  width: 100%;
  position: relative;
  margin: 47rem 0 0 0;

  .sectionHeading {
    text-align: center;
    color: $tamna;
    text-transform: uppercase;
    font-size: $heading1;
    line-height: $defaultProred;
    margin: 0 0 3.5rem 0;
  }

  .sectionListContainer {
    display: flex;
    place-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: 1.375em;
    margin: 0 auto 2em auto;
    max-width: $masterContainerWidth;

    .titleHolder {
      z-index: 2;
      position: relative;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      place-items: center;
      justify-content: center;
      gap: 0px;

      .titleHolderInner {
        h6,
        h2 {
          color: #fff;
          text-transform: uppercase;
          text-align: center;
        }

        h6 {
          font-size: $baseFontSize;
          line-height: $defaultProred;
        }
        h2 {
          font-size: $heading2;
          line-height: $sekundarniProred;
          max-width: 358px;
        }
      }
    }

    .imageBox {
      position: relative;
      width: 472px;
      height: 472px;
      border-radius: 0 0 120px 0;
      img {
        object-position: center;
        border-radius: 0 0 120px 0;
        aspect-ratio: 1 / 1;
      }
    }
  }
}

.dodatneInformacijeSub {
  margin: 0;
}
