.dodatneInformacije {
  width: 100%;
  position: relative;
  margin: 47rem auto 0 auto;
  margin: 0 auto;

  @media only screen and (max-width: $desktops) {
    max-width: $masterContainerWidth;
    padding: 0 1rem;
  }

  .sectionHeading {
    text-align: center;
    color: $tamna;
    // text-transform: uppercase;
    font-size: $heading2;
    @media only screen and (max-width: $tablets) {
      font-size: $heading3;
    }

    @media only screen and (max-width: $phones) {
      font-size: $mobileHeading2;
    }
    line-height: $defaultProred;
    margin: 0 0 3.5rem 0;
  }

  .sectionListContainer {
    display: flex;
    place-items: center;
    justify-content: space-between;
    gap: 0.575rem;
    @media only screen and (max-width: $largeDesktops) {
      justify-content: center;
    }

    @media only screen and (max-width: $tablets) {
      // justify-content: center;
      flex-wrap: wrap;
    }

    // flex-flow: row wrap;

    // gap: 1.375rem;
    margin: 0 auto 2em auto;
    max-width: $masterContainerWidth;

    .titleHolder {
      z-index: 2;
      position: relative;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      place-items: center;
      justify-content: center;
      gap: 0px;

      .titleHolderInner {
        h6,
        h2 {
          color: #fff;
          text-transform: uppercase;
          text-align: center;
          transition: all 150ms ease;
        }

        h6 {
          font-size: $baseFontSize;
          line-height: $defaultProred;
        }
        h2 {
          font-size: $heading2;

          @media only screen and (max-width: $tablets) {
            font-size: $mobileHeading1;
          }
          @media only screen and (max-width: $phones) {
            font-size: $mobileHeading2;
          }

          line-height: $sekundarniProred;
          max-width: 358px;
        }
      }
    }

    .headingOverlayHover {
      position: absolute;
      top: -120%;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      text-align: center;
      transition: all 250ms ease !important;
      transition-delay: 100ms !important;
      color: $zelenaGlavna !important;
      opacity: 0;
    }

    .imageBox {
      position: relative;
      width: 472px;
      height: 472px;
      overflow: hidden;
      cursor: pointer;

      &::after {
        position: absolute;
        background: rgba($color: #161938, $alpha: 0.15);
        inset: 0;
        width: 100%;
        height: 100%;
        content: '';
        transform: scale(0);
        transition: all 300ms ease-out;
        transform-origin: center;
      }

      &:hover {
        img {
          transform: scale(1);
        }
        .headingDefault {
          opacity: 0;
        }

        .headingOverlayHover {
          top: 48%;
          opacity: 1;
        }
        &::after {
          transform: scale(1);
        }
      }

      // border-radius: 0 0 120px 0;
      img {
        object-position: center;
        transition: all 300ms ease-out;
        transition-delay: 100ms;
        // border-radius: 0 0 120px 0;
        aspect-ratio: 1 / 1;
        transform: scale(1.15);
      }

      @media only screen and (max-width: $desktops) {
        width: 374px;
        height: 374px;
        // border-radius: 0 0 29px 0;
        padding: 1rem;

        // img {
        //   // border-radius: 0 0 29px 0;
        //   // padding: 1rem;
        // }
      }

      @media only screen and (max-width: $phones) {
        width: 100%;
        // border-radius: 0 0 29px 0;
        height: 205px;
        img {
          // border-radius: 0 0 29px 0;
          aspect-ratio: 16 / 9;
        }
      }
    }
  }
}

.dodatneInformacijeSub {
  margin: 0;
}
