.gallerySection {
  width: 100%;
  overflow-x: hidden;
  height: auto;
  // overflow-y: hidden;
  // overflow: hidden;

  @media only screen and (max-width: $tablets) {
    margin-top: 50px;
  }

  .swiper {
    margin-top: 10px;
    width: 100%;
    z-index: 10;
    // display: none;
    .swiperSlide {
      position: relative;
      height: 336px;
      border: none;
      outline: none;
      user-select: none;

      // img {
      //   margin: 0 1rem !important;
      // }

      @media only screen and (max-width: $tablets) {
        height: 300px;
      }
      @media only screen and (max-width: $phones) {
        height: 268px;
      }
    }
  }

  .gallerySectionParallax {
    width: 100%;
    // height: auto;
    overflow: hidden;
    @media only screen and (min-width: $largeDesktops) {
      min-height: 1210px;
    }
    position: relative;

    .paralOne {
      position: relative;
      height: 470px;
      border: 2px solid red;

      img {
        object-fit: cover;
        object-position: top;
      }

      @media only screen and (max-width: $desktops) {
        object-position: center;
      }
      // img {
      //   width: 100%;
      //   height: 100%;
      //   inset: 0;
      // }
    }

    .paralTwo {
      position: relative;
      // height: 940px;
      height: 740px;
      border: 2px solid blue;
      z-index: 9;
      img {
        object-fit: cover;
        // object-position: top;
      }
    }

    .gallerySectionTextOverlay {
      max-width: 898px;
      width: 100%;
      text-align: center;
      background: rgba(0, 0, 0, 0.2);
      position: absolute;
      bottom: 45%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      padding: 1.5rem 4rem;

      @media only screen and (max-width: $tablets) {
        padding: 1.5rem 3rem;
      }
      @media only screen and (max-width: $phones) {
        padding: 1.5rem 2rem;
      }

      display: grid;
      place-items: center;
      justify-content: center;
      grid-template-columns: repeat(1, 1fr);
      gap: 1.2rem;

      h2 {
        font-size: $heading2;
        @media only screen and (max-width: $tablets) {
          font-size: $heading3;
        }
        @media only screen and (max-width: $phones) {
          font-size: $mobileHeading2;
        }

        color: #fff;
        line-height: $sekundarniProred;
        font-weight: 700;
      }

      h4 {
        font-size: $heading4;
        @media only screen and (max-width: $tablets) {
          font-size: $heading5;
        }
        @media only screen and (max-width: $phones) {
          font-size: $baseFontSize;
          font-weight: 400;
        }

        line-height: 120%;
        color: #fff;
        font-weight: 500;
      }
    }
  }
}
