.gallerySection {
  .gallerySectionParallax {
    width: 100%;
    min-height: 570px;
    position: relative;
  }

  .swiper {
    width: 100%;
    height: 100%;

    .swiperSlide {
      height: 336px;
    }
  }
}
