.heroSekcija {
  position: relative;
  overflow-x: hidden;
  max-height: 80vh;
  max-height: 80lvh;
  height: 80vh;
  height: 80lvh;

  @media only screen and (max-width: $tablets) {
    height: 95vh;
    height: 95lvh;
    max-height: auto;
  }

  .playerContainer {
    position: relative;
    height: auto;
    width: 100%;
    max-height: 80vh;
    max-height: 80lvh;
    height: 100%;
    overflow: hidden;
    display: flex;
    @media only screen and (max-width: $tablets) {
      max-height: auto;
    }
  }

  .heroCtaHeaderBacksideWrapper {
    display: flex;
    place-items: center;
    justify-content: center;
    width: 100%;
    // height: 100%;
    position: absolute;
    top: 50%;
    // inset: 0;
    padding: 0 1rem;

    @media only screen and (max-width: $desktops) {
      top: 40%;
    }

    .heroCtaHeaderBackside {
      font-size: $heading1;
      color: $svijetloSiva;
      text-transform: uppercase;
      line-height: $defaultProred;
      text-align: center;
      color: transparent;
      -webkit-text-stroke: 1px #fff;
      text-wrap: balance;
      text-wrap: balance;
      word-wrap: break-word;
      white-space: pre-wrap;
      line-height: 120%;

      @media only screen and (max-width: $desktops) {
        font-size: $mobileHeading1;
        line-height: $browserProred;
      }
    }
  }

  .heroCtaKontejner {
    position: absolute;
    top: 60%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    gap: 2em;

    @media only screen and (max-width: $desktops) {
      gap: 1rem;
      top: 45%;
    }

    padding: 0 1rem;

    .heroCtaHeader {
      font-size: $heading1;
      color: $svijetloSiva;
      text-transform: uppercase;
      line-height: $defaultProred;
      text-align: center;
      position: relative;
      z-index: 2;
      text-wrap: balance;
      word-wrap: break-word;
      white-space: pre-wrap;
      line-height: 120%;

      @media only screen and (max-width: $desktops) {
        font-size: $mobileHeading1;

        line-height: $browserProred;
      }
    }

    .heroCtaButtonKontejter {
      display: flex;
      flex-flow: row wrap;
      gap: 1.2em;
      width: 100%;
      place-items: center;
      justify-content: center;
      z-index: 4;

      a {
        border: 0;
        outline: 0;
        border-radius: 6px;
        padding: 0.6rem 0.9rem;

        @media screen and (max-width: $tablets) {
          padding: 0.4rem 1rem;
        }

        @media screen and (max-width: $phones) {
          padding: 0.5rem 1.1rem;
        }
        cursor: pointer;
        background: $zelenaGlavna;
        transition: all 250ms cubic-bezier(0.5, 0.2, 0.4, 0.25);
        color: #fff;
        font-size: 1rem;
        line-height: $defaultProred;
        font-weight: 500;
        position: relative;
        display: block;
        overflow: hidden;
        min-width: 200px;
        outline: 1px solid $zelenaGlavna;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;

        span {
          z-index: 2;
          position: relative;
          transition: all 250ms cubic-bezier(0.5, 0.2, 0.4, 0.25);
        }

        &:hover {
          span {
            color: $zelenaGlavna;
          }
        }

        &::before {
          content: '';
          position: absolute;
          inset: 0;
          transform: translateY(150%);
          width: 100%;
          height: 110%;
          background: rgba(164, 205, 70, 0.75);
          background: rgba($color: #fff, $alpha: 0.75);
          z-index: 1;
          display: block;
          border-radius: 6px;

          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;
        }

        &::after {
          -webkit-transition-delay: 0.2s !important;
          transition-delay: 0.2s !important;
          content: '';
          position: absolute;
          inset: 0;
          width: 100%;
          height: 110%;
          transform: translateY(150%);
          background: rgba(127, 167, 35, 0.5);
          background: rgba($color: #fff, $alpha: 0.95);
          z-index: 1;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;
          transition-delay: 0s;
          border-radius: 6px;
          display: block;
        }

        &:hover {
          &::before {
            transform: translateY(0);
          }

          &::after {
            transform: translateY(0);
          }
        }
      }
    }
  }
}
