.najpopularnijeTureCard {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 265px;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 9;
  background: $svijetloSiva;

  @media only screen and (min-width: $desktops) {
    flex-wrap: nowrap;
  }

  .imageContainer {
    position: relative;
    width: 100%;
    height: 50%;
    @media only screen and (min-width: $largeDesktops) {
      height: 100%;
    }
  }

  .moreInfoContainer {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    background: rgba(127, 167, 35, 0.9);
    // mix-blend-mode: multiply;
    padding: 0.9rem 1.2rem;
    height: 50px;

    @media only screen and (max-width: $tablets) {
      top: 0;
    }
  }

  .moreInfoText {
    position: absolute;
    display: flex;
    place-items: center;
    justify-content: center;
    gap: 9px;
    padding: 0.9rem 0 0.9rem 0;
    bottom: 0;
    left: 0;
    width: 100%;

    @media only screen and (max-width: $tablets) {
      top: 0;
      bottom: unset;
      font-size: $mobileFontSizeAlt;

      .moreInfoTextAdrenaline {
        display: none;
      }
    }
    span {
      color: #fff;
      font-size: $mobileFontSizeContentAlt;
      line-height: 140%;
      z-index: 1;
      text-transform: uppercase;
    }
  }

  .contentContainer {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      color: $tamna;
      font-size: $baseFontSize;
      line-height: $browserProred;
      padding: 1.3rem 1rem;

      @media only screen and (max-width: $tablets) {
        padding: 0.65rem 0.5rem;
        font-size: $mobileFontSizeContentAlt;
      }

      @media only screen and (max-width: $largeDesktops) {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    button {
      width: 100%;
      outline: none;
      border: none;
      background: rgba(164, 205, 70, 0.25);
      display: flex;
      place-items: center;
      justify-content: space-between;
      padding: 1.3rem 1rem;
      z-index: 6;
      max-height: 50px;

      @media only screen and (max-width: $tablets) {
        padding: 0.45rem 0.3rem;
      }

      span {
        text-transform: uppercase;
        color: $zelenaTamna;
        line-height: $defaultProred;
        // font-size: 1.15rem;

        @media only screen and (max-width: $tablets) {
          font-size: $buttonFontSizeMobile;
        }
      }
    }
  }
}
