.najpopularnijeTure {
  width: 100%;
  min-height: 40dvh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  gap: 1.4rem;

  .imageHolder {
    position: absolute;
    width: 100%;
    height: 776px;
    top: 85%;

    .gradientImageOverlay {
      width: 100%;
      height: 476px;

      @media only screen and (max-width: $tablets) {
        height: 45vh;
      }

      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.01) 100%);
      z-index: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      place-items: center;
      justify-content: end;

      h2 {
        max-width: 748px;
        text-align: center;
        color: #fff;
        font-size: $heading2;

        @media only screen and (max-width: $tablets) {
          font-size: $mobileHeading2;
        }
        @media only screen and (max-width: $phones) {
          font-size: $mobileHeading3;
        }
        line-height: $sekundarniProred;
        font-weight: 700;
      }
    }
  }

  .sectionHeading {
    margin: 4.3em 0 0 0;
    font-size: $heading2;
    line-height: $sekundarniProred;
    color: $tamna;
    text-align: center;
    @media only screen and (max-width: $tablets) {
      font-size: $mobileHeading1;
    }

    @media only screen and (max-width: $phones) {
      font-size: $mobileHeading2;
    }
  }

  .najpopularnijeTureContainer {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 100%;
    place-items: center;
    justify-content: center;
    gap: 1.2em;
    z-index: 2;
  }
}
