.sectionMaster {
  position: relative;
  min-height: 682px;
}

.sectionMain {
  width: 100%;
  position: relative;
}

.sectionHero {
  height: 85vh;
  height: 85dvh;
  min-height: 682px;

  position: relative;

  .heroHeader {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    position: absolute;
    gap: 0.85rem;
    bottom: 216px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0 1rem;

    h1 {
      font-size: $heading1;

      @media only screen and (max-width: $desktops) {
        font-size: $heading2;
      }
      @media only screen and (max-width: $tablets) {
        font-size: $heading3;
      }

      text-transform: uppercase;
      color: #fff;
      line-height: 120%;
      text-align: center;
      width: 100%;
      text-wrap: balance;
      word-wrap: break-word;
      white-space: pre-wrap;
    }

    h4 {
      max-width: 748px;
      width: 100%;
      color: #fff;
      text-align: center;
      font-size: $mobileHeading4;
      @media only screen and (max-width: $desktops) {
        font-size: $heading5;
      }
      @media only screen and (max-width: $tablets) {
        font-size: $mobileFontSizeAlt;
      }
      line-height: 120%;
      font-weight: 500;
    }
  }
}

.articleCardContainer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.625rem;
  row-gap: 2.1875rem;
  margin: 4.1875rem 0 0 0;
  @media only screen and (max-width: $desktops) {
    grid-template-columns: repeat(3, 1fr);
    place-items: start center;
  }

  @media only screen and (max-width: $tablets) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width: $phones) {
    grid-template-columns: repeat(1, 1fr);
  }

  article {
    max-width: 413px;
    width: 100%;
    background: #f9f9f9;

    img {
      aspect-ratio: 16 / 9;
      object-fit: cover;
      object-position: center;
    }

    .articleContentCont {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 0.85rem;
      padding: 1rem 1.25rem;
      h2 {
        font-size: $mobileHeading2;
        @media only screen and (max-width: $tablets) {
          font-size: $mobileHeading3;
        }
        color: $tamna;
      }

      p {
        width: 100%;
        max-width: 100%;
        line-height: 153%;
        font-weight: 400;
        font-family: inherit;
        font-size: $baseFontSize;

        @media only screen and (max-width: $tablets) {
          font-size: $mobileFontSizeAlt;
        }
        color: $tamna;
      }
    }

    .articleLinkStack {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      place-items: start;
      // gap: 0.25rem;

      a {
        font-family: inherit;
        font-size: $baseFontSize;
        display: flex;
        place-items: center;
        justify-content: flex-start;
        gap: 0.25rem;
        text-decoration: none;
        color: $tamna;
        line-height: 153%;

        @media only screen and (max-width: $tablets) {
          font-size: $mobileFontSizeAlt;
        }
      }
    }
  }
}

.gallerySectionParallax {
  height: 100vh;
  height: 100lvh;
  min-height: 100%;
  position: relative;
  outline: none;
  border: none;
  &::after {
    position: absolute;
    inset: 0;
    top: -1px;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 300px;

    @media only screen and (max-width: $desktops) {
      height: 200px;
    }
    z-index: 0;
    background: url('../img/PARALAX-BG-TEST.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    // transform: translateX(-5%);
    outline: none;
    border: none;
    user-select: none;
    pointer-events: none;
    content: '';
    display: inline-block;
    background-blend-mode: hard-light;
  }
  .gallerySectionTextOverlay {
    text-align: center;
    position: absolute;
    bottom: 40%;
    z-index: 10;
    width: 100%;
    display: grid;
    place-items: center;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);

    .gallerySectionTextOverlayContent {
      padding: 1.5rem 4rem;
      position: relative;
      display: grid;
      place-items: center;
      grid-template-columns: repeat(1, 1fr);
      gap: 1.56rem;
      @media only screen and (max-width: $tablets) {
        padding: 1.5rem 3rem;
        gap: 0.8rem;
      }
      @media only screen and (max-width: $phones) {
        padding: 1.5rem 2rem;
        gap: 0.6rem;
      }
      width: 100%;
      max-width: 777px;

      &::before {
        position: absolute;
        inset: 0;
        content: '';
        width: 200%;
        height: 200%;
        left: -50%;
        // height: 200px;
        // background: rgba($color: #000000, $alpha: 0.2);
        background: url('../img/para-bg-text.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0.55;
        mix-blend-mode: multiply;
      }

      .spanTextContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        span {
          font-weight: 400;
          font-family: inherit;
          line-height: 130%;
          font-size: $mobileHeading4;
          color: #fff;
          z-index: 3;
        }
      }
    }
  }
}
