.homeMain {
  min-height: 100dvh;
  background-color: #fff;
  max-width: $maxContainerWidth;
  margin: 0 auto;
}

.aktivnostiMain {
  min-height: 100dvh;
  background-color: #fff;
  max-width: $maxContainerWidth;
}
