@import 'main.scss';

.homeMain {
  min-height: 100dvh;
  background-color: $svijetloSiva;

  display: flex;
  place-items: center;
  justify-content: center;
}

.pageTitle {
  font-size: $velikiNaslov;
  line-height: $velikiProred;
}
