.paperTop {
  position: absolute;
  width: 100svw;
  height: 51px;
  top: 0px;
  left: 0;
  z-index: 6;
}

.paperBottom {
  position: absolute;
  width: 100svw;
  height: 50px;
  top: -50px;
  left: 0;
  z-index: 6;
}
.paperBottomAlt {
  position: absolute;
  width: 100svw;
  height: 51px;
  bottom: 0;
  left: 0;
  z-index: 6;
}
