.pogledajVideoSection {
  min-height: 600px;
  position: relative;
  display: grid;
  place-items: center;
  justify-content: center;

  .pogledajControls {
    display: grid;
    gap: 1em;
    place-items: center;
    z-index: 1;

    img {
      cursor: pointer;
    }
  }

  .pogledajKontroleTekst {
    font-size: $heading1;
    color: $svijetloSiva;
    text-transform: uppercase;
    line-height: $defaultProred;
    font-weight: 700;
  }
}
