.pogledajVideoSection {
  min-height: 600px;

  @media only screen and (max-width: $tablets) {
    min-height: 400px;
  }

  @media only screen and (max-width: $phones) {
    min-height: 300px;
    min-height: 40dvh;
  }

  position: relative;
  display: grid;
  place-items: center;
  justify-content: center;

  .pogledajControls {
    display: grid;
    gap: 1em;
    place-items: center;
    z-index: 1;

    img {
      cursor: pointer;

      @media only screen and (max-width: $tablets) {
        width: 100px;
        height: 100px;
      }

      @media only screen and (max-width: $phones) {
        width: 75px;
        height: 75px;
      }
    }
  }

  .pogledajKontroleTekst {
    font-size: $heading1;

    @media only screen and (max-width: $tablets) {
      font-size: $heading2;
    }

    @media only screen and (max-width: $phones) {
      font-size: $heading3;
    }
    color: $svijetloSiva;
    text-transform: uppercase;
    line-height: $defaultProred;
    font-weight: 700;
  }
}
