.promoSekcijaJedan {
  width: 100%;
  position: relative;
  padding: 5em 0;

  .masterContainer {
    max-width: $masterContainerWidth;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    gap: 5rem;

    @media only screen and (max-width: $desktops) {
      gap: 4rem;
    }

    @media only screen and (max-width: $tablets) {
      gap: 3rem;
    }

    @media only screen and (max-width: $phones) {
      gap: 2rem;
    }
  }

  .promoSekcijaHeader {
    font-size: $heading2;
    color: $tamna;
    max-width: 980px;
    margin: 0 auto;
    text-align: center;

    @media only screen and (max-width: $desktops) {
      font-size: $heading4;
    }

    @media only screen and (max-width: $tablets) {
      display: none;
    }
  }

  .promoSekcijaHeaderMobile {
    display: none;
    @media only screen and (max-width: $tablets) {
      font-size: $heading2;
      color: $tamna;
      max-width: 980px;
      margin: 0 auto;
      text-align: center;
      display: block;
    }
  }

  .promoSekcijaTaxonomyContainer {
    display: flex;
    gap: 2.5em;
    place-items: center;
    justify-content: center;
    cursor: pointer;
    color: $zelenaGlavna;
    font-size: $heading4;
    line-height: $defaultProred;

    .taxonomyButton {
      transition: all 250ms ease;
      // padding: ;
      font-size: $heading4;
      line-height: $defaultProred;
      padding: 0.15em 0.25em;
    }
    .taxonomyButtonActive {
      outline: 1px solid $zelenaGlavna;
      border-radius: 10px;
    }
  }

  .taxonomyCardContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 22px 40px;
    place-items: center;
    padding: 0 0.5rem;

    // @media only screen and (max-width: $desktops) {

    // }

    @media only screen and (max-width: $tablets) {
      grid-template-columns: repeat(2, 1fr);
      // gap: 11px 20px;
      max-width: 80%;
      margin: 0 auto;
      // gap: 22px 40px;
    }

    @media only screen and (max-width: $phones) {
      grid-template-columns: repeat(1, 1fr);
      // gap: 5.5px 10px;

      // gap: 22px 40px;
    }

    @media only screen and (max-width: $smPhones) {
      max-width: 100%;
      margin: 0 auto;
      // gap: 22px 40px;
    }

    .raftingCard {
      @media only screen and (min-width: $tablets) {
        max-width: 342px;
      }

      width: 100%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      place-items: stretch;
      gap: 0;
      position: relative;
      overflow: hidden;
      cursor: pointer;

      @media only screen and (max-width: $phones) {
        grid-template-columns: repeat(2, 1fr);

        &:nth-child(odd) .imageContainer {
          order: 2;
        }

        .raftingCartInteractiveOverlay {
          min-width: 260px;
        }
      }

      .raftingImage {
        transition: all 250ms ease-out;
        // object-fit: cover;
      }

      .cardArrowIcon {
        transition: transform 250ms ease 150ms;
        @media only screen and (max-width: $tablets) {
          display: none;
        }
      }

      &:hover {
        .raftingImage {
          transform: scale(1.2);
        }
        .cardArrowIcon {
          transform: translateX(0.75em);
        }

        .cardTitle {
          &::after {
            transform: scale(1);
          }
        }
      }

      .imageContainer {
        position: relative;
        width: 100%;

        height: 265px;

        @media only screen and (max-width: $desktops) {
          height: 132px;
        }

        @media only screen and (max-width: $tablets) {
          height: 102px;
        }

        @media only screen and (max-width: $phones) {
          height: 88px;
        }
      }

      .raftingCartInteractiveOverlay {
        // position: absolute;
        bottom: 0;
        width: 100%;
        // height: min-content;
        padding: 0.8rem 1.1rem;
        background: $zelenaGlavna;
        display: flex;
        place-items: center;
        justify-content: space-between;

        @media only screen and (max-width: $tablets) {
          padding: 0.4rem 0.55rem;
        }

        .interactiveOverlayTitleCont {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 0.25em;
        }

        .cardTitle {
          font-size: $heading5;
          color: $tamna;
          line-height: $defaultProred;
          font-weight: 500;
          position: relative;

          &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            transition: transform 250ms ease;
            transform: scale(0);
            transform-origin: left;
            content: '';
            width: 100%;
            height: 2px;
            background: red;
          }
        }

        .cardLocation {
          font-size: 14px;
          color: $svijetloSiva;
          display: flex;
          place-items: center;
          gap: 0.5em;
          font-weight: 500;
        }
      }
    }
  }
}
