@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.promoSekcijaJedan {
  width: 100%;
  position: relative;
  padding: 5em 0;

  @media only screen and (max-width: $tablets) {
    button {
      display: none !important;
    }
  }

  .mobileHeadingPromo {
    @media only screen and (min-width: $tablets) {
      display: none;
    }

    text-align: center;
    font-size: $mobileHeading3;
    line-height: $defaultProred;
    color: $tamna;
    margin: 4rem 0.5rem 2rem 0.5rem;
  }

  .masterContainer {
    margin: 0 auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    gap: 5rem;

    @media only screen and (max-width: $desktops) {
      gap: 4rem;
    }

    @media only screen and (max-width: $tablets) {
      gap: 3rem;
    }

    @media only screen and (max-width: $phones) {
      gap: 2rem;
    }
  }

  .promoSekcijaHeader {
    font-size: $mobileHeading2;
    color: $tamna;
    max-width: 980px;
    margin: 0 auto;
    text-align: center;

    span {
      position: relative;

      &::after {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 110%;
        background: #fff;
        content: '';
        padding: 0.1rem;
        transition: all 1200ms ease;
        transform-origin: right;
      }

      &:hover::after {
        transform: scale(0);
      }
    }

    @media only screen and (max-width: $desktops) {
      font-size: $heading4;
    }

    @media only screen and (max-width: $tablets) {
      display: none;
    }
  }

  .promoSekcijaHeaderMobile {
    display: none;
    @media only screen and (max-width: $tablets) {
      font-size: $heading2;
      color: $tamna;
      max-width: 980px;
      margin: 0 auto;
      text-align: center;
      display: block;
      span {
        position: relative;

        &::after {
          position: absolute;
          inset: 0;
          width: 100%;
          height: 110%;
          background: #fff;
          content: '';
          padding: 0.1rem;
          transition: all 550ms ease;
          transform-origin: right;
        }

        &:hover::after {
          transform: scale(0);
        }
      }
    }
  }

  .promoSekcijaTaxonomyContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;

    @media only screen and (max-width: $desktops) {
      gap: 2rem;
    }

    @media only screen and (max-width: $tablets) {
      gap: 1.5rem;
    }

    @media only screen and (max-width: $phones) {
      gap: 1rem;
    }

    place-items: center;
    justify-content: center;
    cursor: pointer;
    color: $zelenaGlavna;
    font-size: $heading4;
    line-height: $defaultProred;

    .taxonomyButton {
      transition: all 250ms ease;
      font-size: $heading4;
      line-height: $defaultProred;
      padding: 0.15em 0.25em;
    }
    .taxonomyButtonActive {
      outline: 1px solid $zelenaGlavna;
      border-radius: 10px;
    }
  }

  .taxonomyCardContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
    place-items: stretch;
    padding: 0 0.5rem;

    @media only screen and (max-width: $largeDesktops) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media only screen and (max-width: $desktops) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media only screen and (max-width: $tablets) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (max-width: $phones) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: $smPhones) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: $xsmPhones) {
      grid-template-columns: repeat(1, 1fr);
    }

    .raftingCard {
      width: 100%;

      a {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-items: stretch;
        gap: 0px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        opacity: 0;
        animation: fadeIn 1s ease forwards;
        text-decoration: none;
      }

      @media only screen and (min-width: $phones) and (max-width: $tablets) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media only screen and (max-width: $phones) {
        grid-template-columns: repeat(2, 1fr);

        // &:nth-child(odd) .imageContainer {
        //   order: 2;
        // }

        &:nth-child(even) .raftingCartInteractiveOverlay {
          // background: $zelenaTamna;
          background: url('../img/SMALL-CARD-BG-ALT.png');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      .raftingImage {
        transition: all 250ms ease-out;
      }

      .cardArrowIcon {
        transition: transform 250ms ease 150ms;
        @media only screen and (max-width: 1100px) {
          display: none;
        }
      }

      &:hover {
        .raftingImage {
          transform: scale(1.2);
        }
        .cardArrowIcon {
          transform: translateX(0.75em);
        }

        .cardTitle {
          &::after {
            transform: scale(1);
          }
        }
      }

      .imageContainer {
        position: relative;
        width: 100%;
        height: 265px;

        .cardLocation {
          font-size: 14px;
          color: $svijetloSiva;
          opacity: 0.75;
          display: flex;
          place-items: center;
          gap: 0.5em;
          font-weight: 500;
          position: absolute;
          top: 8%;
          left: 8%;
          z-index: 2;
          display: none;

          @media only screen and (max-width: $phones) {
            display: none;
          }
        }

        @media only screen and (max-width: $desktops) {
          max-height: 235px;

          img {
            object-fit: cover;
            object-position: center;
            aspect-ratio: 1 / 1;
          }
        }

        @media only screen and (max-width: $tablets) {
          max-height: 140px;

          img {
            object-fit: cover;
            object-position: center;
            aspect-ratio: 1 / 1;
          }
        }

        @media only screen and (max-width: $phones) {
          max-height: 100px;

          img {
            object-fit: cover;
            object-position: center;
            aspect-ratio: 16 / 9;
          }
        }
      }

      .raftingCartInteractiveOverlay {
        width: 100%;
        padding: 0.8rem 1.1rem;

        background: url('../img/SMALL-CARD-BG.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        // background: red;
        display: flex;
        place-items: center;
        justify-content: space-between;
        z-index: 2;

        @media only screen and (min-width: $tablets) {
          position: absolute;
          bottom: 0;
          background: rgba(164, 205, 70, 0.85);
        }

        @media only screen and (max-width: $tablets) {
          padding: 0.4rem 0.55rem;
        }

        .interactiveOverlayTitleCont {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 0.25em;
        }

        .cardTitle {
          font-size: $heading5;

          @media only screen and (max-width: $tablets) {
            // padding: 0.4rem 0.55rem;
            font-size: $mobileFontSizeAlt;
            line-height: $browserProred;
          }

          color: #fff;
          line-height: $defaultProred;
          font-weight: 500;
          position: relative;
        }
      }
    }
  }
}
