.sectionMain {
  position: relative;
  width: 100%;
  padding: 4.8rem 0;

  .swiper {
    margin-top: 10px;
    width: 100%;
    z-index: 10;
    overflow-x: hidden;
    padding: 0 1rem;

    .swiperSlide {
      position: relative;
      border: none;
      outline: none;
      user-select: none;
      background: $zelenaGlavna;
      width: 100%;
      padding: 2.1rem;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
      place-items: start;
      border-radius: 0 0 75px 0;

      @media only screen and (max-width: $tablets) {
        padding: 1.6rem;
      }

      @media only screen and (max-width: $phones) {
        max-width: 75%;
        padding: 1rem;
      }

      p {
        text-wrap: balance;
        word-wrap: break-word;
        white-space: pre-wrap;

        &:nth-child(1),
        &:nth-child(2) {
          font-size: $baseFontSize;
          line-height: 118%;
          color: $textTamno;
        }

        &:nth-child(2) {
          color: #fff;
          line-height: 140%;
          font-size: $mobileFontSizeAlt;
        }

        // Applying line-clamp
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-clamp: 5;
        -webkit-line-clamp: 5;

        @media only screen and (max-width: $tablets) {
          line-clamp: 5;
          -webkit-line-clamp: 5;
        }

        @media only screen and (max-width: $phones) {
          line-clamp: 4;
          -webkit-line-clamp: 4;
        }
      }
    }
  }
}
