.tripAdvisorSekcija {
  margin: 5em 0;

  .sectionHeading {
    font-size: $heading2;
    line-height: $defaultProred;
    color: $tamna;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
  }
}
