.turePonudaSekcija {
  width: 100%;
  position: relative;
  z-index: 7;
  padding: 0 0 4em 0;

  &::before {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    inset: 0;
    background: url('../img/ture-background.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  .masterContainer {
    max-width: $masterContainerWidth;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: stretch;
    gap: 6em;
  }

  .tureArticle {
    display: flex;
    justify-content: space-between;
    place-items: center;

    .contentHolder {
      max-width: 672px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      place-items: start;
      gap: 1.5em;
    }

    .contentTitle {
      font-size: $heading2;
      color: $tamna;
      line-height: $sekundarniProred;
    }
    .contentSubtitle {
      font-size: $heading4;
      font-weight: 500;
      color: $tamna;
      line-height: $defaultProred;
    }

    .contentText {
      white-space: pre-wrap;
      line-height: $defaultProred;
      font-weight: 300;
      color: $tamna;
    }

    .imgHolder {
      width: 100%;
      max-width: 672px;
      height: 445px;
      position: relative;
    }
  }

  .articleReverse {
    flex-direction: row-reverse;
  }
}
