.turePonudaSekcija {
  width: 100%;
  position: relative;
  z-index: 7;
  padding: 0 0 2.5em 0;

  @media only screen and (max-width: $tablets) {
    padding: 0;
  }

  .pogledajVideoGradient {
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
  }

  &::before {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    inset: 0;
    background: url('../img/ture-background.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .masterContainer {
    max-width: $masterContainerWidth;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: stretch;
    padding: 5rem 1rem;
    width: 100%;
    gap: 6em;
    z-index: 3;
    position: relative;

    @media only screen and (max-width: $desktops) {
      gap: 4rem;
    }

    @media only screen and (max-width: $tablets) {
      gap: 3rem;
    }

    @media only screen and (max-width: $phones) {
      gap: 2rem;
    }
  }

  .tureArticle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 3rem;
    width: 100%;

    .contentHolder {
      flex-grow: 1;
      flex-basis: 0;
      // max-width: calc(50% - 1.5rem); /* Set maximum width for content holder */
      width: 100%;
      @media only screen and (min-width: $tablets) {
        max-width: 672px;
        max-width: calc(50% - 1.5rem);
      }

      display: grid;
      grid-template-columns: repeat(1, 1fr);
      place-items: start;
      gap: 1.5em;
    }

    .contentTitle {
      font-size: $heading2;
      color: $tamna;
      line-height: $sekundarniProred;
      width: 100%;
      text-wrap: balance;
      word-wrap: break-word;
      white-space: pre-wrap;

      @media only screen and (max-width: $tablets) {
        font-size: $mobileHeading1;
      }
      @media only screen and (max-width: $phones) {
        font-size: $mobileHeading2;
      }
    }
    .contentSubtitle {
      font-size: $heading4;
      font-weight: 500;
      color: $tamna;
      line-height: $defaultProred;
      width: 100%;

      @media only screen and (max-width: $tablets) {
        font-size: $heading5;
      }
    }

    .contentText {
      white-space: pre-wrap;
      line-height: $defaultProred;
      font-weight: 400;
      color: $tamna;
      text-wrap: balance;
      word-wrap: break-word;

      @media only screen and (min-width: $desktops) {
        max-width: 62ch;
      }
    }

    .imgHolder {
      flex-grow: 1;
      flex-shrink: 1;

      height: 30vh;
      position: relative;
      width: 100%;

      @media only screen and (min-width: $tablets) {
        max-width: 672px;
        max-width: calc(50% - 1.5rem);
        height: 445px;
      }
    }
  }

  .contactCtaTura {
    border: 0;
    outline: 0;
    border-radius: 6px;
    padding: 0.6rem 0.9rem;

    @media screen and (max-width: $tablets) {
      padding: 0.4rem 1rem;
    }

    @media screen and (max-width: $phones) {
      padding: 0.5rem 1.1rem;
    }
    cursor: pointer;
    background: $zelenaGlavna;
    transition: all 250ms cubic-bezier(0.5, 0.2, 0.4, 0.25);
    color: #fff;
    font-size: 1rem;
    line-height: $defaultProred;
    font-weight: 500;
    position: relative;
    display: block;
    overflow: hidden;
    min-width: 200px;
    outline: 1px solid $zelenaGlavna;
    text-align: center;
    text-decoration: none;

    span {
      z-index: 2;
      position: relative;
      transition: all 250ms cubic-bezier(0.5, 0.2, 0.4, 0.25);
    }

    &:hover {
      span {
        color: $zelenaGlavna;
      }
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      transform: translateY(150%);
      width: 100%;
      height: 110%;
      background: rgba(164, 205, 70, 0.75);
      background: rgba($color: #fff, $alpha: 0.75);
      z-index: 1;
      display: block;
      border-radius: 6px;

      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }

    &::after {
      -webkit-transition-delay: 0.2s !important;
      transition-delay: 0.2s !important;
      content: '';
      position: absolute;
      inset: 0;
      width: 100%;
      height: 110%;
      transform: translateY(150%);
      background: rgba(127, 167, 35, 0.5);
      background: rgba($color: #fff, $alpha: 0.95);
      z-index: 1;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      transition-delay: 0s;
      border-radius: 6px;
      display: block;
    }

    &:hover {
      &::before {
        transform: translateY(0);
      }

      &::after {
        transform: translateY(0);
      }
    }
  }

  .articleReverse {
    flex-direction: row-reverse;
  }

  .contactCtaTuraNoviBlok {
    display: flex;
    justify-content: start;
    place-items: center;
    gap: 1.5rem;

    @media only screen and (max-width: $tablets) {
      flex-wrap: wrap;
      gap: 1rem;
    }
  }

  .swiperParent {
    width: 100%;
    height: 100%;
  }

  .swiperSlide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    height: 30vh;

    @media only screen and (min-width: $tablets) {
      height: 445px;
    }
  }
}

.lightboxCont {
  width: 100%;
  height: 100vh;
}

.lightboxImg {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain !important;
  object-position: center !important;
}
