.turePonudaSekcija {
  width: 100%;
  position: relative;
  z-index: 7;
  padding: 0 0 4em 0;

  &::before {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    inset: 0;
    background: url('../img/ture-background.svg');
    background-repeat: no-repeat;
    background-position: center;
    // background-size: 100% 100%;
  }

  .masterContainer {
    max-width: $masterContainerWidth;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    padding: 5rem 1rem;
    width: 100%;
    gap: 6em;

    @media only screen and (min-width: $largeDesktops) {
      // padding: 5rem 2rem;
      place-items: stretch;
    }

    @media only screen and (max-width: $desktops) {
      gap: 4rem;
      // padding: 5rem 2.5rem;
    }

    @media only screen and (max-width: $tablets) {
      // padding: 5rem 1rem;
      gap: 3rem;
      // padding: 0;
    }

    @media only screen and (max-width: $phones) {
      // padding: 5rem 1rem;
      gap: 2rem;
    }
  }

  .tureArticle {
    display: flex;
    justify-content: space-between;
    place-items: center;
    flex-flow: row wrap;
    gap: 1rem;
    @media only screen and (max-width: $largeDesktops) {
      max-width: 672px;
    }
    width: 100%;
    .contentHolder {
      @media only screen and (min-width: $phones) {
        max-width: 672px;
      }
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      place-items: start;
      gap: 1.5em;
    }

    .contentTitle {
      font-size: $heading2;
      color: $tamna;
      line-height: $sekundarniProred;
      width: 100%;

      @media only screen and (max-width: $tablets) {
        font-size: $mobileHeading1;
      }
      @media only screen and (max-width: $phones) {
        font-size: $mobileHeading2;
      }
    }
    .contentSubtitle {
      font-size: $heading4;
      font-weight: 500;
      color: $tamna;
      line-height: $defaultProred;
      // text-transform: uppercase;
      width: 100%;

      @media only screen and (max-width: $tablets) {
        font-size: $heading5;
      }
    }

    .contentText {
      white-space: pre-wrap;
      line-height: $defaultProred;
      font-weight: 300;
      color: $tamna;
    }

    .imgHolder {
      width: 100%;
      object-fit: cover;
      aspect-ratio: 1 / 1;
      max-width: 100%;
      @media only screen and (min-width: $phones) {
        max-width: 672px;
        height: 445px;
        aspect-ratio: 16 / 9;
      }
      height: 30vh;
      // height: calc(40vh + 5rem);
      position: relative;
    }
  }

  .articleReverse {
    flex-direction: row-reverse;
  }
}
