*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scrollbar-gutter: stable;
  height: 100%;
  overflow-x: hidden !important;
  width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background: #fff;
  height: 100%;
  width: 100%;
  max-width: 100% !important;

  /* overflow: scroll; */
}

@media only screen and (max-width: 768px) {
  html::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
    width: 0px;
    background: transparent;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

nav {
  overflow-x: hidden !important;
  max-width: 100%;
  width: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 
  8. Create a root stacking context
*/
/* #root,
#__next {
  isolation: isolate;
} */
.mapboxgl-control-container {
  display: none !important;
}

.splide__slide.is-active {
  border: none !important;
}

.hamburger-react {
  z-index: 10;
}

.overflow-hidden {
  overflow: hidden !important;
}

@media only screen and (min-width: 1300px) {
  .hamburger-react {
    display: none;
  }
}
